OPENROUTER_API_KEY=xxxxxxxxxxxxxxxxxxxx

OPENROUTER_API_KEY_2=xxxxxxxxxxx
OPENROUTER_MODEL=xxxxxxxxxxxx
OPENROUTER_MAX_OUTPUT_TOKENS=1200

GROQ_API_KEY=xxxxxxxxxxxx
GROQ_MODEL=xxxxxxxxx


MISTRAL_API_KEY=xxxxxxxx
MISTRAL_MODEL=xxxxxx